@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}
.body{
    background:url("bg.jpg");
    min-height:100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 20px;
    left: 50px;
    font-size: 60px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}
#board{
    background: linear-gradient(green,rgb(0, 255, 179));
    width:90vmin;
    height:92vmin;
    border:2px solid black;
    display:grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr);
}

.head{
    background: linear-gradient(rgb(231, 107, 107),yellow);
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 9px;
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}
.food{
    background: linear-gradient(red, purple);
    border: .25vmin solid black;
    border-radius:8px;
}
